{% extends 'base1.html' %}
{% block content %}
<div style="padding:100px;">
<h2 style="color:#006666">Features:</h2>
<p style="color:#009999">Number of columns={{cols}}<br>Number of rows ={{rows}}</p>
<h3 style="color:#009999">Following is a part of the dataframe</h3>
{{data1 | safe}}
<h2> </h2>
<h2 style="color:#006666">Select columns to include:</h2>
<form action="{% url 'prec' %}" method="post">
{% for link in arr1 %}
    {% csrf_token %}
    <input type="checkbox" name="checks[]" value="{{link}}" />{{link}}<br>
{% endfor %}
 <input type="submit" value="Submit">
</form>
<h2> </h2>
<br>
</div>
{% endblock %}